---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import { Image } from "astro:assets";
import vector1 from "../assets/images/vector-1.svg";
import vector2 from "../assets/images/vector-2.svg";
import vector3 from "../assets/images/vector-3.svg";
import vector4 from "../assets/images/vector-4.svg";
import vector6 from "../assets/images/vector-6.svg";
import vector8 from "../assets/images/vector-8.svg";
import helt from "../assets/images/helt.svg";
---

<MainLayout title="Titel">
  <article class="relative pt-36">
    <!-- Baggrundsfarve til sort -->
    <!-- Form container -->
    <div
      class="bg-hvid z-[1500] m-8 lg:mr-60 lg:ml-60 rounded-lg relative p-12 lg:p-10 mb-[370px]"
      style="
      background-color:
      rgba(255,
      255,
      255,
      0.8);"
    >
      <section class="relative">
        <h1 class="font-verdana font-bold text-center pb-4">Giv dit bidrag</h1>
        <h2 class="text-sort font-verdana text-center pb-5">
          Fortæl os hvor mange GB du har slettet i kampen mod digital
          forurening.
        </h2>
        <div class="lg:grid lg:grid-cols-2 gap-4 grid justify-items-center">
          <!-- Navn -->
          <div class="pb-5">
            <label for="navn" class="block text-sort font-arial font-bold">Navn*</label>
            <input
              type="text"
              id="Navn"
              name="Navn"
              placeholder=""
              class="px-3 py-3 bg-white border-2 border-black text-black text-lg rounded-lg shadow-[4px_4px_0px_0px_#7E86FF] hover:shadow-none"
            />
          </div>
          <!-- Efternavn -->
          <div class="pb-5">
            <label for="Efternavn" class="block text-sort font-arial font-bold">Efternavn*</label>
            <input
              type="text"
              id="Efternavn"
              name="Efternavn"
              placeholder=""
              class="px-3 py-3 bg-white border-2 border-black text-black text-lg rounded-lg shadow-[4px_4px_0px_0px_#FEB3D2] hover:shadow-none"
            />
          </div>
        </div>

        <div class="lg:grid lg:grid-cols-2 gap-4 grid justify-items-center">
          <!-- Email -->
          <div class="pb-5">
            <label for="Email" class="block text-sort font-arial font-bold">E-mail*</label>
            <input
              type="text"
              id="Email"
              name="Email"
              placeholder=""
              class="px-3 py-3 bg-white border-2 border-black text-black text-lg rounded-lg shadow-[4px_4px_0px_0px_#CDF545] hover:shadow-none"
            />
          </div>
          <!-- Telefon -->
          <div class="pb-5">
            <label for="Telefon" class="block text-sort font-arial font-bold">Telefon*</label>
            <input
              type="text"
              id="Telefon"
              name="Telefon"
              placeholder=""
              class="px-3 py-3 bg-white border-2 border-black text-black text-lg rounded-lg shadow-[4px_4px_0px_0px_#FED12E] hover:shadow-none"
            />
          </div>
        </div>

        <!-- GB -->
        <div class="pb-5 flex justify-items-center grid grid-cols-1">
          <label for="GB" class="block text-sort font-arial font-bold">Antal slettet GB*</label>
          <input
            type="text"
            id="GB"
            name="GB"
            placeholder=""
            class="px-3 py-3 bg-white border-2 border-black text-black text-lg rounded-lg shadow-[4px_4px_0px_0px_#36B7FF] hover:shadow-none"
          />
        </div>
      </section>

      <!-- Vilkår og Nyhedsbrev -->
      <div class="pb-5 grid justify-items-center">
        <div class="space-y-3">
          <div>
            <input type="checkbox" id="vilkaar" />
            <label for="vilkaar" class="text-sort font-arial">Jeg er enig i vilkår og betingelser*</label>
          </div>
          <div>
            <input type="checkbox" id="nyhedsbrev" />
            <label for="nyhedsbrev" class="text-sort font-arial">Tilmed nyhedsbrev</label>
          </div>
        </div>
      </div>

      <!-- Registrer knap -->
      <div class="place-content-center grid z-2000">
        <Button
          variant="tertiary"
          size="large"
          class="bg-sort text-hvid px-5 py-3 rounded-lg"
        >
          Registrér
        </Button>
      </div>
    </div>
  </article>

  <!-- Baggrundsformerne -->
  <section class="absolute inset-0 z-100 pointer-events-none">
    <div id="venstre_svg">
      <Image
        src={vector8}
        alt="Figur i svg"
        loading="lazy"
        class="w-[60px] lg:w-[100px] absolute top-[400px] left-32 lg:left-[40px] z-500 stroke-white-500"
      />
      <Image
        src={vector6}
        alt="Figur i svg"
        loading="lazy"
        class="w-[60px] lg:w-[600px] absolute top-[150px] right-56 lg:right-[350px] z-500"
      />
      <Image
        src={vector1}
        alt="Figur i svg"
        loading="lazy"
        class="w-[240px] lg:w-[400px] absolute top-[150px] -left-6 lg:left-[150px] z-500"
      />
      <Image
        src={vector3}
        alt="Figur i svg"
        loading="lazy"
        id="venstre_svg"
        class="w-[80px] absolute lg:w-[150px] top-[480px] lg:top-[560px] left-2 lg:left-[90px]"
      />
      <Image
        src={vector4}
        alt="Figur i svg"
        loading="lazy"
        id="venstre_svg"
        class="w-[190px] lg:w-[180px] absolute top-[600px] -left-2 lg:left-[400px]"
      />
    </div>

    <div id="hojre_svg">
      <Image
        src={vector2}
        alt="Figur i svg"
        loading="lazy"
        class="w-[400px] lg:w-[300px] absolute top-[500px] -right-10 lg:right-[20px]"
      />
      <Image
        src={vector3}
        alt="Figur i svg"
        loading="lazy"
        class="w-[200px] lg:w-[160px] absolute top-[200px] right-8 lg:right-[150px]"
      />
    </div>
  </section>

  <!-- Maskot og talebobbel -->
  <section
    class="absolute top-[1000px] lg:top-[700px] right-4 lg:right-[300px] flex items-center space-x-3 z-[1600]"
  >
    <Image
      src={helt}
      alt="Mascot med talebobbel"
      loading="lazy"
      class="w-[400px] lg:w-[500px]"
    />
  </section>

  <script type="module">
    import { inView } from 'motion';

    document.addEventListener('DOMContentLoaded', () => {
      const hojre_svgFadeup = document.querySelector("#hojre_svg");
      if (hojre_svgFadeup) {
        inView(hojre_svgFadeup, () => {
          hojre_svgFadeup.classList.add(
            "animate__animated",
            "animate__bounceInRight",
            "animate__slow"
          );
        });
      }

      const venstre_svgFadeup = document.querySelector("#venstre_svg");
      if (venstre_svgFadeup)
