---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import { Image } from "astro:assets";
import mainmaskot from "../assets/images/main.svg";
import sweatmaskot from "../assets/images/sweat.svg";
import friendsmaskot from "../assets/images/friends.svg";
import pinkstar from "../assets/images/vector-3.svg";
import info1 from "../assets/images/people_icon.svg";
import info2 from "../assets/images/gb_icon.svg";
import info3 from "../assets/images/co2_icon.svg";
import star1 from "../assets/images/vector-1.svg";
import star2 from "../assets/images/vector-2.svg";
import star3 from "../assets/images/vector-9.svg";
import registrer from "../assets/images/registrer.svg"
import "motion";
---

<MainLayout title="Digital skraldedag">
  <!-- Hero -->

  <article id="index_header" class="pt-36 pb-8 border-b-[2px] border-[#F4F4F4]">
    <h1 class="text-grøn px-10 font-bold lg:px-16 lg:pl-36 font-verdana">
      Digital skraldedag
    </h1>
    <h2 class="text-pink mt-2 px-10 font-bold lg:px-16 lg:pl-36 font-verdana">
      15 marts 2024
    </h2>
    <p
      class="text-hvid mt-4 px-10 lg:px-16 lg:pl-36 lg:max-w-screen-md font-arial"
    >
      Digital Cleanup Day er en dag dedikeret til at rydde op i vores digitale
      liv, ligesom vi rydder op i vores fysiske miljø på World Cleanup Day.
    </p>
    <div
      class="pl-10 pb-5 lg:px-16 lg:pl-36 lg:pb-0 mt-5 lg:mt-16 flex justify-center lg:justify-normal"
    >
      <Image
        src={mainmaskot}
        alt="Maskot til Digital Skraldedag"
        loading="lazy"
      />
    </div>
    <div class="flex justify-center mb-12">
      <a href="#"
        ><Button variant="primary" size="large">Save the date</Button></a
      >
    </div>
    <div class="flex justify-center">
      <svg
        width="70"
        height="55"
        viewBox="-2.5 -5 75 60"
        preserveAspectRatio="none"
        class="motion-safe:animate-bounce w-8 h-6"
      >
        <path
          d="M0,0 l35,50 l35,-50"
          fill="#1A1A1A"
          stroke="#F4F4F4"
          stroke-linecap="round"
          stroke-width="8"></path>
      </svg>
    </div>
  </article>

  <section class="absolute inset-0 z-[-500] pointer-events-none">
    <Image
      src={star1}
      alt="Stjerne"
      loading="lazy"
      class="w-[100px] lg:w-[170px] absolute top-[400px] lg:top-[200px] right-[400px] lg:right-[550px] z-500 stroke-white-500 animate-[spin_3s_infinite]"
    />
    <Image
      src={star2}
      alt="Stjerne"
      loading="lazy"
      class="w-[300px] lg:w-[400px] absolute top-[500px] lg:top-[330px] right-[300px] lg:right-[250px] z-500 animate-[spin_4s_infinite]"
    />
    <Image
      src={star3}
      alt="Stjerne"
      loading="lazy"
      class="w-[260px] lg:w-[250px] absolute top-[400px] lg:top-[150px] right-[-100px] lg:right-[120px] z-500 animate-[spin_5s_infinite]"
    />
  </section>

  <!-- Facts -->

  <div id="border" class="">
    <section
      id="facts"
      class="border-b-[2px] border-[#F4F4F4] grid lg:grid-cols-2"
    >
      <div class="lg:border-r-[2px]">
        <div class="px-10 pt-10 lg:px-16 lg:pl-36">
          <h2 class="text-grøn font-bold font-verdana">
            Hvad er digitaltskrald?
          </h2>
          <p class="text-hvid mt-5 max-w-lg font-arial">
            Digitalt affald refererer til al data, der bliver gemt online
            unødigt. Gamle billeder, unødvendige beskeder, reklame-e-mails og
            internetdownloads, blandt andet. Al denne aktivitet udleder tons
            CO2, der forurener planeten.
          </p>
        </div>
        <div class="flex justify-center py-6">
          <Image src={pinkstar} alt="Pink stjerne" loading="lazy" />
        </div>
        <div class="px-10 lg:px-16 lg:pl-36">
          <h2 class="text-grøn font-bold font-verdana">
            Problemet med Digitalt-skrald
          </h2>
          <p class="text-hvid mt-5 max-w-lg font-arial">
            Ud over at være et miljøproblem er e-affald også et klimaproblem.
            Elektroniske enheder kræver råmaterialer, herunder sjældne
            jordarters metaller, der udvindes og behandles i en meget
            energikrævende proces, hovedsagelig drevet af fossile brændstoffer.
          </p>
        </div>
        <div class="flex justify-center py-6 lg:invisible lg:py-0">
          <Image src={pinkstar} alt="Pink stjerne" loading="lazy" />
        </div>
      </div>
      <div class="px-10 pb-10 lg:pt-10 lg:px-16 lg:pr-36">
        <h2 class="text-grøn font-bold font-verdana">Vidste du...?</h2>
        <ul class="text-hvid mt-4 pl-4 max-w-lg list-disc font-arial">
          <li class="pb-3">
            Det kræver mere energi at mine for BitCoin, end hele New Zealand
            bruger på et år!
          </li>
          <li class="pb-3">
            På kun et år (2007) blev der skabt én zettabyte data på verdensplan.
            I 2010 var dette fordoblet. I 2035 vil vi skabe mere end 2.000
            zettabyte. For at udskrive en zettabyte data skal du bruge papiret
            fra 20 billioner træer. Der er kun omkring 3,5 billioner træer
            tilbage på planeten, så det er ikke muligt.
          </li>
          <li class="pb-3">
            I 2022 blev omkring 70 millioner servere brugt til at lagre data.
            Hver af dem forårsagede produktion af 1-2 tons CO2. I det år blev
            omkring 20 millioner af dem til e-affald.
          </li>
          <li class="pb-3">
            99 % af dataene blev skabt inden for de sidste 10 år.
          </li>
          <li class="pb-3">
            Ubegrænset forbrug af data i dag kræver 3 gange mere energi end alle
            de solpaneler, verden kan producere!
          </li>
        </ul>
      </div>
    </section>

    <!-- Action -->
    <section class="grid lg:grid-cols-2">
      <article id="action_1">
        <div class="border-b-[2px] border-[#F4F4F4] lg:border-r-[2px]">
          <div class="py-10 pb-12">
            <div class="px-10 lg:px-16 lg:pl-36">
              <h2 class="text-grøn font-bold font-verdana">
                Registrer dit bidrag
              </h2>
              <p class="text-hvid mt-4 font-arial">
                Vær cool - lad være med at fodre global opvarmning med digitalt
                affald
              </p>
              <div class="">
                <Image
                  src={sweatmaskot}
                  alt="Maskot til Digital Skraldedag"
                  class="mx-auto mt-12 h-[240px]"
                  loading="lazy"
                />
                <div class="flex justify-center py-6">
                  <a href="/forms"
                    ><Button variant="secondary" size="medium">
                      Dit bidrag
                    </Button></a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </article>

      <article id="action_2">
        <div class="pb-12 border-b-[2px] border-[#F4F4F4]">
          <div class="px-10 lg:px-16 lg:pr-36">
            <h2 class="text-grøn pt-10 font-bold font-verdana">
              Få en ven til at deltage!
            </h2>
            <p class="text-hvid mt-4 font-arial">
              Digital Oprydningsdag 2025 finder sted den 15. marts. - Få en ven
              med!
            </p>
            <div class="">
              <Image
                src={friendsmaskot}
                alt="Maskot til Digital Skraldedag"
                class="mt-2"
                loading="lazy"
              />
              <div class="flex justify-center py-6">
                <a href="#"
                  ><Button variant="tertiary" size="medium">
                    Inviter en ven
                  </Button></a
                >
              </div>
            </div>
          </div>
        </div>
      </article>
    </section>

    <!-- Infotal -->

    <section id="infotal" class="px-10 lg:px-36 pb-12">
      <h2 class="text-grøn mt-10 font-bold text-center font-verdana">
        Digital skraldedag i tal
      </h2>
      <div class="grid lg:grid-cols-3 font-arial">
        <div id="tal_grid1" class="grid grid-rows-2 gap-2 mt-10">
          <Image src={info1} alt="Info" class="mx-auto" loading="lazy" />
          <p class="text-hvid mx-auto text-center font-bold">
            1,184,747<br />deltagere
          </p>
        </div>
        <div id="tal_grid1" class="grid grid-rows-2 gap-2 mt-10">
          <Image src={info2} alt="Info" class="mx-auto" loading="lazy" />
          <p class="text-hvid mx-auto text-center font-bold">
            14.5M GB<br />data slettet
          </p>
        </div>
        <div id="tal_grid1" class="grid grid-rows-2 gap-2 mt-10">
          <Image src={info3} alt="Info" class="mx-auto" loading="lazy" />
          <p class="text-hvid mx-auto text-center font-bold">
            3,625 tons<br />CO2 produktion<br />forhindret årligt*
          </p>
        </div>
      </div>
    </section>

    <section class="fixed right-0 bottom-0 z-1000">
      <a href="/forms"><Image src={registrer} alt="Registrer knap"/></a>
    </section>

    <script>
      import { inView } from "motion";

      // <-- facts  er -->
      const factsFadeup = document.querySelector("#facts");

      inView(factsFadeup, () => {
        factsFadeup.classList.add(
          "animate__animated",
          "animate__fadeInUpBig",
          "animate__slow"
        );
      });

      // <-- action 1 er -->
      const action_1Fadeup = document.querySelector("#action_1");

      inView(action_1Fadeup, () => {
        action_1Fadeup.classList.add(
          "animate__animated",
          "animate__fadeInUpBig",
          "animate__slow"
        );
      });

      // <-- action 2 er -->
      const action_2Fadeup = document.querySelector("#action_2");

      inView(action_2Fadeup, () => {
        action_2Fadeup.classList.add(
          "animate__animated",
          "animate__fadeInUpBig",
          "animate__slow"
        );
      });

      // <-- infotal er -->
      const infotalFadeup = document.querySelector("#infotal");

      inView(infotalFadeup, () => {
        infotalFadeup.classList.add(
          "animate__animated",
          "animate__fadeInUpBig",
          "animate__slow"
        );
      });
    </script>
  </div>
</MainLayout>
